* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 999;/* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.spinner-border{
  height: 4rem !important;
  width: 4rem !important;
}